In [3]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)

df = pd.read_excel("../data/raw/Data.xlsx")
df.head()

,Blank,Category,City,Container,Customer ID,Customer Name,Customer Segment,Department,Item,Item ID,Order Date,Order ID,Order Priority,Postal Code,Region,Row ID,Ship Date,Ship Mode,State,Days to Ship,Discount,KPI - Profit Ratio,Number of Records,Order Quantity,Product Base Margin,Profit,Profit Ratio,Sales,Shipping Cost,Unit Price
0,NaN,Storage & Organization,Bowie,Large Box,2211,Anita Hahn,Home Office,Office Supplies,Safco Industrial Wire Shelving,10826,2013-01-01,88028,Not Specified,20715,East,19914,2013-01-01,Express Air,Maryland,0,0.08,Poor,1,2,0.00,-425,-2.1907,194,35,96
1,NaN,Tables,Phenix City,Jumbo Box,2579,Marshall Sutherland,Home Office,Furniture,Bush Advantage Collection® Round Conference Table,10964,2013-01-01,88296,High,36869,South,23705,2013-01-02,Delivery Truck,Alabama,1,0.09,Poor,1,1,0.64,-274,-1.5657,175,52,213
2,NaN,Office Furnishings,Draper,Medium Box,1988,Anna Burgess,Home Office,Furniture,36X48 HARDFLOOR CHAIRMAT,10179,2013-01-01,89999,High,84020,West,19336,2013-01-02,Regular Air,Utah,1,0.05,Poor,1,3,0.78,-181,-2.7424,66,21,21
3,NaN,Pens & Art Supplies,Austin,Wrap Bag,117,Linda Weiss,Home Office,Office Supplies,"Dixon Prang® Watercolor Pencils, 10-Color Set ...",11250,2013-01-01,7909,High,78745,Central,1074,2013-01-02,Regular Air,Texas,1,0.03,Poor,1,29,0.44,10,0.0820,122,1,4
4,NaN,Pens & Art Supplies,Lake Oswego,Wrap Bag,114,Ron Newton,Home Office,Office Supplies,"Dixon Prang® Watercolor Pencils, 10-Color Set ...",11250,2013-01-01,89583,High,97035,West,19074,2013-01-02,Regular Air,Oregon,1,0.03,Acceptable,1,7,0.44,19,0.6333,30,1,4

In [4]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

df.columns

Index(['blank', 'category', 'city', 'container', 'customer_id',
       'customer_name', 'customer_segment', 'department', 'item', 'item_id',
       'order_date', 'order_id', 'order_priority', 'postal_code', 'region',
       'row_id', 'ship_date', 'ship_mode', 'state', 'days_to_ship', 'discount',
       'kpi_-_profit_ratio', 'number_of_records', 'order_quantity',
       'product_base_margin', 'profit', 'profit_ratio', 'sales',
       'shipping_cost', 'unit_price'],
      dtype='object')

In [5]:
if "blank" in df.columns:
    df = df.drop(columns=["blank"])

df.head()

,category,city,container,customer_id,customer_name,customer_segment,department,item,item_id,order_date,order_id,order_priority,postal_code,region,row_id,ship_date,ship_mode,state,days_to_ship,discount,kpi_-_profit_ratio,number_of_records,order_quantity,product_base_margin,profit,profit_ratio,sales,shipping_cost,unit_price
0,Storage & Organization,Bowie,Large Box,2211,Anita Hahn,Home Office,Office Supplies,Safco Industrial Wire Shelving,10826,2013-01-01,88028,Not Specified,20715,East,19914,2013-01-01,Express Air,Maryland,0,0.08,Poor,1,2,0.00,-425,-2.1907,194,35,96
1,Tables,Phenix City,Jumbo Box,2579,Marshall Sutherland,Home Office,Furniture,Bush Advantage Collection® Round Conference Table,10964,2013-01-01,88296,High,36869,South,23705,2013-01-02,Delivery Truck,Alabama,1,0.09,Poor,1,1,0.64,-274,-1.5657,175,52,213
2,Office Furnishings,Draper,Medium Box,1988,Anna Burgess,Home Office,Furniture,36X48 HARDFLOOR CHAIRMAT,10179,2013-01-01,89999,High,84020,West,19336,2013-01-02,Regular Air,Utah,1,0.05,Poor,1,3,0.78,-181,-2.7424,66,21,21
3,Pens & Art Supplies,Austin,Wrap Bag,117,Linda Weiss,Home Office,Office Supplies,"Dixon Prang® Watercolor Pencils, 10-Color Set ...",11250,2013-01-01,7909,High,78745,Central,1074,2013-01-02,Regular Air,Texas,1,0.03,Poor,1,29,0.44,10,0.0820,122,1,4
4,Pens & Art Supplies,Lake Oswego,Wrap Bag,114,Ron Newton,Home Office,Office Supplies,"Dixon Prang® Watercolor Pencils, 10-Color Set ...",11250,2013-01-01,89583,High,97035,West,19074,2013-01-02,Regular Air,Oregon,1,0.03,Acceptable,1,7,0.44,19,0.6333,30,1,4

In [7]:

df.columns

Index(['category', 'city', 'container', 'customer_id', 'customer_name',
       'customer_segment', 'department', 'item', 'item_id', 'order_date',
       'order_id', 'order_priority', 'postal_code', 'region', 'row_id',
       'ship_date', 'ship_mode', 'state', 'days_to_ship', 'discount',
       'kpi_-_profit_ratio', 'number_of_records', 'order_quantity',
       'product_base_margin', 'profit', 'profit_ratio', 'sales',
       'shipping_cost', 'unit_price'],
      dtype='object')

In [8]:
df["order_date"] = pd.to_datetime(df["order_date"], errors="coerce")
df["ship_date"] = pd.to_datetime(df["ship_date"], errors="coerce")
df[["order_date", "ship_date"]].dtypes

numeric_cols = [
    "sales",
    "profit",
    "discount",
    "shipping_cost",
    "unit_price",
    "order_quantity",
    "product_base_margin",
    "profit_ratio",
    "days_to_ship"
]

df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors="coerce")

df[numeric_cols].describe()

,sales,profit,discount,shipping_cost,unit_price,order_quantity,product_base_margin,profit_ratio,days_to_ship
count,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000
mean,949.716423,139.233503,0.049628,12.813601,88.286123,13.798430,0.508277,-0.194593,2.031403
std,2598.020092,998.486307,0.031798,17.171179,281.537536,15.107688,0.141901,16.584442,2.301993
min,1.000000,-16477.000000,0.000000,0.000000,1.000000,1.000000,0.000000,-516.153800,0.000000
25%,61.000000,-74.000000,0.020000,3.000000,6.000000,5.000000,0.380000,-0.565200,1.000000
50%,203.000000,3.000000,0.050000,6.000000,21.000000,10.000000,0.520000,0.012500,2.000000
75%,776.000000,140.000000,0.080000,14.000000,86.000000,17.000000,0.590000,0.516100,2.000000
max,100119.000000,16332.000000,0.250000,165.000000,6783.000000,170.000000,0.850000,990.000000,91.000000

In [9]:
df[numeric_cols].isnull().sum()

sales                  0
profit                 0
discount               0
shipping_cost          0
unit_price             0
order_quantity         0
product_base_margin    0
profit_ratio           0
days_to_ship           0
dtype: int64

### Data Type Validation

- Converted order and shipping date columns to datetime format
- Ensured all sales, profit, discount, cost, and quantity fields are numeric
- Verified that no missing values were introduced during type coercion

In [17]:
df.to_csv("../data/processed/cleaned_sales.csv", index=False)

## Data Cleaning Output

The dataset has been cleaned and standardized for downstream analysis.

### Summary of Steps Performed
- Removed irrelevant and empty columns
- Converted order and shipping dates to datetime format
- Ensured numeric consistency for sales, profit, discount, and cost-related fields
- Validated absence of missing values in critical numeric columns
- Finally saved the clean data as cleaned_sales.sv to the processed folder

The cleaned dataset is now ready for profitability and business analysis.